<!DOCTYPE html>
<html>
    <head>
<% include ../component/head %>
        <link rel="stylesheet" type="text/css" href="/css/board.css">
    </head>
    <body>
        <nav id="sidebar" class="sidebar">
<% include ../component/sidebar %>
        </nav>
        <nav class="navbar">
<% include ../component/navbar %>
        </nav>
        <div class="container">
            <h1 class="page-title">자유게시판</h1>
            <div class="board">
                <table class="table table-hover gray board-list">
                    <thead>
                        <tr>
                            <th id="max-th">제목</th>
                            <th>추천</th>
                            <th>조회수</th>
                            <th>작성자</th>
                            <th>댓글</th>
                        </tr>
                    </thead>
                    <tbody>
<% for (var i=0; i<freeboard.list.length; i++) { %>
                        <tr class="post" onclick="location.href='/freeboard/post/<%= freeboard.list[i].id %>'">
                            <td id="max-th"><%= freeboard.list[i].title %></td>
                            <td><%= freeboard.list[i].like %></td>
                            <td><%= freeboard.list[i].view %></td>
                            <td><%= freeboard.list[i].author %></td>
                            <td><%= freeboard.list[i].commentNum %></td>
                        </tr>
<% } %>
                    </tbody>
                </table>
                <div style="text-align: right; padding-right: 60px;">
                    <a href="/freeboard/write" class="btn btn-outline-success">글 작성</a>
                </div>
                <div class="pagenation-group text-center">
<% for (var i=freeboard.page.firstpage; i<freeboard.page.firstpage+5; i++) { %>
                    <a <%= (i > freeboard.page.maxpage || i == freeboard.page.nowpage)?(''):('href="/freeboard?page=' + i + '"') %> class="pagenation<%= (i > freeboard.page.maxpage)?(' disabled'):('') %><%= (i == freeboard.page.nowpage)?(' active'):('') %>"><%= i %></a>
<% } %>
                </div>
            </div>
        </div>
        <footer>
<% include ../component/footer %>
        </footer>
    </body>
</html>