<!DOCTYPE html>
<html>
    <head>
<% include ../component/head %>
        <link rel="stylesheet" type="text/css" href="/css/board.css">
    </head>
    <body>
        <nav id="sidebar" class="sidebar">
<% include ../component/sidebar %>
        </nav>
        <nav class="navbar">
<% include ../component/navbar %>
        </nav>
        <div class="post-title">
            <h1><%= post.title %></h1>
        </div>
        <div class="post-content">
            <div class="gray-info">
                <%= post.date %>
            </div>
            <div class="post-data">
                <%= post.content %>
            </div>
            <div class="gray-info">
                <a href="#comments">댓글 <%= post.comment.length %>개</a>
                <div class="report-post">
                    <a onclick="">신고</a>
                </div>
            </div>
            <div class="post-info">
                <div class="post-profile" href="#">
                    <img src="/img/Tipper-Icon.png">
                    <span class="profile-desc">
                        <div class="profile-name"><%= post.author.username %></div>
                        <div class="profile-intro"><%= post.author.intro %></div>
                    </span>
                </div>
                <div class="post-stat">
                    <div>
                        <i class="material-icons" style="font-size:30px">favorite</i><div class="stat-data"><%= post.likeNum %></div>
                    </div>
                    <div>
                        <i class="material-icons" style="font-size:30px">remove_red_eye</i><div class="stat-data"><%= post.viewNum %></div>       
                    </div>                
                </div>
            </div>
            <div class="gray-info"></div>
            <textarea class="input-comment" placeholder="댓글을 입력해 보세요."></textarea>
            <button class="comment-btn btn btn-outline-success" href="/">확인</button>
            <div class="gray-info"></div>
        </div>
        <footer>
<% include ../component/footer %>
        </footer>
    </body>
</html>